body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: white;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #434455;
    margin: 0;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

img {
    display: block;
}

/*-----------same color----------start*/
.header-logo,
.header-list-item,
.excellence-list-item-subtitle,
.team-title,
.team-subtitle,
.portfolio-title,
.portfolio-list-item-subtitle {
    color: #2e2f42;
}

/*-----------f4f4fd------------*/
.footer-logo,
.footer-text {
    color: #f4f4fd;
}

/*-----------same color----------end*/
/*-----------header----------start*/
.header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-logo-color {
    color: #2e2f42;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-container {
    display: flex;
    align-items: center;

}

.header-nav {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 48px;
}

.nav-link {
    position: relative;
    color: #2e2f42;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;

}

.nav-link.current {
    color: #404bbf;
}

.header-contacts-list-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-contacts {
    font-style: normal;
    margin-left: auto;
}

.header-linc {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-linc:hover,
.header-linc:focus {
    color: #404bbf;
}

/*-----------header----------end*/
/*-----------border-start-------*/
.border {
    background-color: #2e2f42;

    padding: 188px 0;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.border-title {
    line-height: 1.07;
    color: white;
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    letter-spacing: 0.02em;

    max-width: 496px;

    margin: 0 auto 48px;

}

.border-button {

    background-color: #4d5ae5;
    color: white;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    border: none;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.border-button:hover {
    background-color: #404BBF
}

.border-button:focus {
    background-color: #404BBF
}

.footer-text,
.team-text,
.excellence-list-item-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/*-----------border-end----------*/
/*-----------excellence----------start*/

.excellence {
    padding: 120px 0;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.excellence-list {
    display: flex;
    gap: 24px;


}

.excellence-list-item {
    width: calc((100% - 72px) / 4);

}

.excellence-list-item-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;

}

.excellence-list-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
}

/*-----------excellence----------end*/
/*-----------team-------------start*/
.team-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}


.team {
    background-color: #f4f4fd;
    padding: 120px 0
}

.team-list-item {

    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-title {

    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    text-transform: capitalize;
    margin-bottom: 72px;
}



.team-subtitle {
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;

}

.team-text {
    margin: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 8px;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
}


.team-text-container {
    padding: 32px 0;
}

.svg-list {
    display: flex;
    gap: 24px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
}

.social-link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--accent, #4d5ae5);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.social-icon {
    width: 16px;
    height: 16px;
    fill: var(--light-color, #f4f4fd);
}

.svg-item {
    width: 40px;
    height: 40px;
}

/*-----------team-------------end*/
/*-----------portfolio----------start*/
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-list {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.portfolio-title {
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-list-item-subtitle {
    line-height: 1.2;
    letter-spacing: 0.02em;

    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;

}

.portfolio-list-item:hover {
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}


.portfolio-thumb {
    position: relative;
    overflow: hidden;
    height: 300px;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #4d5ae5;
    color: var(--color-light, #f4f4fd);
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-list-item:hover .portfolio-overlay {
    transform: translateY(0%);
}

.portfolio-list-item-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
}

.portfolio-border {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}



/*-----------portfolio----------end*/
/*------------footer-----------start*/
.footer {
    background: #2e2f42;
    padding: 100px 0;
    color: #fff;
    font-family: "Roboto", sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-left {
    flex-basis: 264px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
    line-height: 1.17;
}

.white-logo {
    color: #f4f4fd;
    
}

.footer-text {
    max-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    display: flex;
    /* для футера підписки, щоб input був всередині label */
}

.social-list {
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.social-link-footer {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
    background-color: #31d0aa;
}

.social-icon {
    fill: #f4f4fd;
    width: 24px;
    height: 24px;
}


.footer-subscribe {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 450px;
}

.subscribe-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-input {
    width: 264px;
    height: 40px;
    padding-left: 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    color: #fff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    outline: none;
}

.footer-input::placeholder {
    color: #fff;
    opacity: 1;
}

.footer-button {
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    transition: background-color 250ms ease;
}

.footer-button:hover,
.footer-button:focus {
    background-color: #404bbf;
}

.button-icon {
    margin-left: 16px;
    width: 24px;
    height: 24px;
    fill: #fff;
}
/*------------footer-----------end*/
/*------------form-field-------start*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(46, 47, 66, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    display: flex;
}


.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
    outline: none;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #000;
    
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: #ffffff;
}


.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-text-dark, #2E2F42);
    margin-bottom: 16px;
}


.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-field
 {
    margin-bottom: 8px;
}
.modal-field-comment {margin-bottom: 16px;}

.modal-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-text-muted, #8e8f99);
    margin-bottom: 4px;
    user-select: none;
}


.modal-input-wrapper {
    position: relative;
}


.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    font-size: 14px;
    font-family: inherit;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-sizing: border-box;
}

.modal-input:focus {
    border-color: #4D5AE5;
}


.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 24px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: rgba(46, 47, 66, 0.4);
    pointer-events: none;
}

.modal-input:focus+.modal-icon {
    fill: #4D5AE5;
}


.modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    resize: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-sizing: border-box;
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}


.modal-checkbox-wrapper {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
}


.visually-hidden {
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}


.modal-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-text-muted, #8e8f99);
    align-items: center;
    user-select: none;
}


.modal-checkbox-icon {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
}


.checkbox-icon {
    width: 10px;
    height: 8px;
    fill: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-checkbox:checked+.modal-checkbox-label .modal-checkbox-icon {
    background-color: #404bbf;
    border: none;
    fill: var(--color-checkbox-checked);
}
:root {
    --color-checkbox-checked: #F4F4FD; }

.modal-checkbox:checked+.modal-checkbox-label .checkbox-icon {
    fill: #F4F4FD;
}


.modal-privacy-link {
    color: #4d5ae5;
    text-decoration: none;
    margin-left: 4px;
}

.modal-privacy-link:hover,
.modal-privacy-link:focus {
    text-decoration: underline;
}


.modal-submit-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
    border-radius: 4px;
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
    background-color: #404bbf;
    outline: none; }